@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-loose text-white font-primary bg-primary;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Style the scrollbar when hovering over the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #00e187; /* Darker color when hovering */
}

/* Style for scrollbar in Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f0f0f0; /* Thumb color and track color */
}
